.battle-information {
  background-color: var(--color-background);
  padding: 2em;
}

.battle-id {
  width: 100%;
  background-color: var(--color-input);
  margin-bottom: 2em;
  font-size: 1.2em;
}

.battle-resumen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}

.image-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  .battle-information {
    background-color: var(--color-background);
    padding: 2em;
  }

  .battle-id {
    width: 100%;
    background-color: var(--color-input);
    margin-bottom: 2em;
    font-size: 1.2em;
  }

  .battle-resumen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
  }

  .image-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .battle-information {
    background-color: var(--color-background);
    padding: 2em;
  }

  .battle-id {
    width: 100%;
    background-color: var(--color-input);
    margin-bottom: 2em;
    font-size: 1.2em;
  }

  .battle-resumen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
  }

  .image-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .battle-information {
    background-color: var(--color-background);
    padding: 2em;
  }

  .battle-id {
    width: 100%;
    background-color: var(--color-input);
    margin-bottom: 2em;
    font-size: 1.2em;
  }

  .battle-resumen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
  }

  .image-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .battle-information {
    background-color: var(--color-background);
    padding: 2em;
  }

  .battle-id {
    width: 100%;
    background-color: var(--color-input);
    margin-bottom: 2em;
    font-size: 1.2em;
  }

  .battle-resumen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
  }

  .image-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1536px) {
  .battle-information {
    background-color: var(--color-background);
    padding: 2em;
  }

  .battle-id {
    width: 100%;
    background-color: var(--color-input);
    margin-bottom: 2em;
    font-size: 1.2em;
  }

  .battle-resumen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-lg);
  }

  .image-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    justify-content: center;
    align-items: center;
  }
}
