.battle-star-container {
  background-color: var(--color-background);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
  gap: var(--gap-sm);
}
