.event-info {
  width: 100%;
  padding: var(--padding-lg) var(--padding-md);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}

.event-info-title {
  font-size: var(--font-xxl);
  color: var(--color-heading);
  font-weight: 700;
}
