.card-player {
  margin-top: var(--margin-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 520px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-set {
  background-image: url(https://assets.albiononline.com/assets/images/killboard/gear.png?u8993ed42);
  width: 375px;
  height: 420px;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item-set {
  width: 100px;
  height: 100px;
}

.player-info-title {
  font-size: var(--font-lg);
  font-weight: 700;
}

@media (min-width: 768px) {
  .player-set {
    background-image: url(https://assets.albiononline.com/assets/images/killboard/gear.png?u8993ed42);
    min-width: 480px;
    height: 520px;
    position: relative;
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .item-set {
    width: 120px;
    height: 120px;
  }
}
