.container-combat-details {
  background-color: var(--color-background);
  margin: 1em 0px;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.container-inventory {
  width: 100%;
  background-color: var(--color-background);
  min-height: 5em;
  padding: 2em;
}