.container-contribuitor {
  background-color: var(--color-background);
  padding: var(--padding-md);
  width: 100%;
}

.contribuitor-card {
  height: 100%;
}

.card-align {
  display: flex;
  position: relative;
}

.contribuitor-avatar {
  width: 102px;
  height: 102px;
}

.contribuitor-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--gap-sm);
}

.contribuitor-set {
  display: flex;
  gap: var(--gap-xsm);
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--margin-sm);
}

.contribuitor-frame {
  position: absolute;
  width: 102px;
  height: 102px;
}

@media (min-width: 640px) {
  .container-contribuitor {
    background-color: var(--color-background);
    padding: var(--padding-md);
  }

  .contribuitor-card {
    height: 100%;
  }

  .card-align {
    display: flex;
    position: relative;
  }

  .contribuitor-avatar {
    width: 102px;
    height: 102px;
  }

  .contribuitor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--gap-sm);
  }

  .contribuitor-set {
    display: flex;
    gap: var(--gap-xsm);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--margin-sm);
  }

  .contribuitor-frame {
    position: absolute;
    width: 102px;
    height: 102px;
  }
}

@media (min-width: 768px) {
  .container-contribuitor {
    background-color: var(--color-background);
    padding: var(--padding-md);
  }

  .contribuitor-card {
    height: 100%;
  }

  .card-align {
    display: flex;
    position: relative;
  }

  .contribuitor-avatar {
    width: 102px;
    height: 102px;
  }

  .contribuitor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--gap-sm);
  }

  .contribuitor-set {
    display: flex;
    gap: var(--gap-xsm);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5em;
  }

  .contribuitor-frame {
    position: absolute;
    width: 102px;
    height: 102px;
  }
}

@media (min-width: 1024px) {
  .container-contribuitor {
    background-color: var(--color-background);
    padding: var(--padding-md);
  }

  .contribuitor-card {
    height: 100%;
  }

  .card-align {
    display: flex;
    position: relative;
  }

  .contribuitor-avatar {
    width: 102px;
    height: 102px;
  }

  .contribuitor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--gap-sm);
  }

  .contribuitor-set {
    display: flex;
    gap: var(--gap-xsm);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5em;
  }

  .contribuitor-frame {
    position: absolute;
    width: 102px;
    height: 102px;
  }
}

@media (min-width: 1280px) {
  .container-contribuitor {
    background-color: var(--color-background);
    padding: var(--padding-md);
  }

  .contribuitor-card {
    height: 100%;
  }

  .card-align {
    display: flex;
    position: relative;
  }

  .contribuitor-avatar {
    width: 102px;
    height: 102px;
  }

  .contribuitor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--gap-sm);
  }

  .contribuitor-set {
    display: flex;
    gap: var(--gap-xsm);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5em;
  }

  .contribuitor-frame {
    position: absolute;
    width: 102px;
    height: 102px;
  }
}

@media (min-width: 1536px) {
  .container-contribuitor {
    background-color: var(--color-background);
    padding: var(--padding-md);
  }

  .contribuitor-card {
    height: 100%;
  }

  .card-align {
    display: flex;
    position: relative;
  }

  .contribuitor-avatar {
    width: 102px;
    height: 102px;
  }

  .contribuitor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--gap-sm);
  }

  .contribuitor-set {
    display: flex;
    gap: var(--gap-xsm);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5em;
  }

  .contribuitor-frame {
    position: absolute;
    width: 102px;
    height: 102px;
  }
}
