.container-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}

.big {
  font-size: var(--font-xxl);
}

.medium {
  font-size: var(--font-lg);
}
