.container-event-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--gap-md);
}

@media (min-width: 640px) {
  .container-event-info {
    display: flex;
    gap: var(--gap-md);
  }
}

@media (min-width: 768px) {
  .container-event-info {
    display: flex;
    gap: var(--gap-md);
  }
}

@media (min-width: 1024px) {
  .container-event-info {
    display: flex;
    gap: var(--gap-md);
  }
}

@media (min-width: 1280px) {
  .container-event-info {
    display: flex;
    gap: var(--gap-md);
  }
}

@media (min-width: 1536px) {
  .container-event-info {
    display: flex;
    gap: var(--gap-md);
  }
}
