.filter-activity-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-lg);
}

#activity-filter {
  background-color: var(--color-background);
  width: 100%;
  max-width: 8em;
  padding: var(--padding-sm);
  cursor: pointer;
}
