@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --color-link: #825391;
  --color-body: #06090f;
  --color-background: #0a101a87;
  --color-background-hover: #161a22;
  --color-heading: #ffffff;
  --color-text: #cacbd5;
  --color-bg-input: #1a1d24;
  --color-text-input: #a4a9b3;
  --color-border: #3c3f43;
  --color-border-active: #169de0;
  --color-success: #29e09d74;
  --color-danger: #e02984ae;
  --color-warning: #dcbd5b;
  --color-info: #29cee0;
  --color-especial: #b488ff;
  --border-pill: 1em;
  --color-link: #62c2f2;
  --color-link-hover: #2aaef0;
  --gap-xsm: 0.2em;
  --gap-sm: 0.5em;
  --gap-md: 1em;
  --gap-lg: 2em;
}

html,
body {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  background-color: var(--color-body);
  font-family: 'Lato', sans-serif;
  padding-bottom: 50px;
  background-image: url(https://media.discordapp.net/attachments/1137527038366978078/1144699179663364127/bg.png);
  background-repeat: repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 4em;
  color: var(--color-heading);
  font-weight: 500;
}

p,
ul,
li,
table,
thead,
tbody,
th,
tr,
td,
div {
  font-size: 18px;
  list-style: none;
  color: var(--color-text);
  text-align: start;
}

table {
  width: 100%;
  border-collapse: collapse;
}

input,
select {
  color: var(--color-text);
  border: 1px solid var(--color-border);
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--color-link);
  background: inherit;
  border: none;
  display: inline;
}

a:hover {
  color: var(--color-link-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-hover) var(--color-bg-input);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--color-border);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-background-hover);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-background-hover);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-bg-input);
}

.align-text-start {
  text-align: start;
}

.align-text-center {
  text-align: center;
}

.align-text-end {
  text-align: end;
}

.text-info {
  color: var(--color-info);
}

.text-warning {
  color: var(--color-warning);
}

.text-danger {
  color: var(--color-danger);
}

.text-success {
  color: var(--color-success);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-success {
  background-color: var(--color-success);
}
