* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --color-link: #825391;
  --color-body: #111520;
  --color-background: #0F131A;
  --color-heading: #E9EBF0;
  --color-text: #999999;
}

html,
body {
  background-color: var(--color-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

p,
ul,
li {
  list-style: none;
  color: var(--color-text);
}

#root {
  width: 80%;
  margin: auto;
}