@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --color-link: #825391;
  --color-body: #06090f;
  --color-background: #080C14;
  --color-background-hover: #161a22;
  --color-heading: #FFFFFF;
  --color-text: #CACBD5;
  --color-bg-input: #1A1D24;
  --color-text-input: #A4A9B3;
  --color-border: #3C3F43;
  --color-border-active: #169DE0;
  --color-success: #29e09d74;
  --color-danger: #e02984ae;
  --color-warning: #DCBD5B;
  --color-info: #29CEE0;
  --color-especial: #8561C5;
  --border-pill: 15px;
}

html,
body {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  background-color: var(--color-body);
  font-family: 'Lato', sans-serif;
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 4em;
  color: var(--color-heading);
  font-weight: 500;
}

p,
ul,
li,
table,
thead,
tbody,
th,
tr,
td,
div {
  font-size: 18px;
  list-style: none;
  color: var(--color-text);
}

table {
  width: 100%;
  border-collapse: collapse;
}

input {
  color: var(--color-text);
  border: 1px solid var(--color-border);
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
  background: inherit;
  border: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-hover) var(--color-bg-input);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--color-border);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-background-hover);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-background-hover);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-bg-input);
}

.align-text-start {
  text-align: start;
}

.align-text-center {
  text-align: center;
}

.align-text-end {
  text-align: end;
}

.text-info {
  color: var(--color-info);
}

.text-warning {
  color: var(--color-warning);
}

.text-danger {
  color: var(--color-danger);
}

.text-success {
  color: var(--color-success);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-success {
  background-color: var(--color-success);
}