@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');

.search-bar {
  background-color: var(--color-bg-input);
  border: 1px solid var(--color-border);
  padding: var(--padding-sm);
  border-radius: var(--border-sm);
  width: 100%;
  font-size: 1em;
  height: 2.5em;
  transition: border-color 0.3s;
  transition: font-size 0.3s;
  text-align: center;
}

.gg-search {
  position: absolute;
  right: 15px;
  top: 17px;
}

.search-container {
  position: relative;
}

.search-bar:focus,
.search-bar:hover {
  border-color: var(--color-border-active);
  font-size: 1.05em;
}
