.favorite-gear-container {
  background-color: var(--color-background);
  padding: var(--padding-lg) var(--padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.gear-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}

.check {
  border-radius: var(--border-md);
  background: linear-gradient(
    360deg,
    rgb(251, 206, 26) 8%,
    rgba(0, 0, 0, 0) 70%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.skilled {
  border-radius: var(--border-md);
  background: var(--color-border-active);
  background: linear-gradient(
    360deg,
    var(--color-border-active) 8%,
    rgba(0, 0, 0, 0) 70%
  );
}
