.player-event-container {
  height: 120px;
  
  border-radius: var(--border-pill);
  display: flex;
  justify-content: space-evenly;
}

.win {
  background-color: #0e640394;
}

.loss {
  background-color: #a90a5494;
}