.item-set {
  width: 120px;
  height: 120px;
}

.position-mainhand {
  position: absolute;
  top: 155px;
  left: 55px;
}

.position-offhand {
  position: absolute;
  top: 155px;
  left: 310px;
}

.position-head {
  position: absolute;
  top: 40px;
  left: 180px;
}

.position-armor {
  position: absolute;
  top: 155px;
  left: 180px;
}

.position-shoes {
  position: absolute;
  top: 270px;
  left: 180px;
}

.position-bag {
  position: absolute;
  top: 33px;
  left: 27px;
}

.position-cape {
  position: absolute;
  top: 33px;
  left: 335px;
}

.position-mount {
  position: absolute;
  top: 380px;
  left: 180px;
}

.position-potion {
  position: absolute;
  top: 282px;
  left: 335px;
}

.position-food {
  position: absolute;
  top: 282px;
  left: 27px;
}
