.favorite-gear-container {
  background-color: var(--color-background);
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {

}

.gear-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.check {
  border-radius: var(--border-pill);
  background: linear-gradient(360deg, rgb(251, 206, 26) 8%, rgba(0,0,0,0) 70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skilled {
  border-radius: var(--border-pill);
  background: var(--color-border-active);
  background: linear-gradient(360deg, var(--color-border-active) 8%, rgba(0,0,0,0) 70%);
}

.cristal {
  
}
