.player-activity-container {
  width: 100%;
}

.player-activity {
  background-color: var(--color-background);
  padding: var(--padding-lg);
}

.player-activity-event-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}
