.player-view-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--gap-md);
  margin: var(--margin-lg) var(--margin-md);
  justify-content: space-evenly;
}

@media (min-width: 640px) {
  .player-view-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: var(--gap-md);
    margin: var(--margin-lg) var(--margin-md);
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .player-view-layout {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: var(--gap-md);
    margin: var(--margin-lg) var(--margin-md);
    justify-content: space-evenly;
  }
}
