.table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  padding: var(--padding-md);
  margin: 1rem 0px;
  background-color: var(--color-background);
  color: var(--color-text);
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: var(--padding-md);
  background-color: var(--color-background);
  color: var(--color-text);
  border-top: 0.5px solid var(--color-border);
}

.table-row:hover {
  background-color: var(--color-background-hover);
}
